In [ ]:
H = [1,4,'haydar', [5,7],'mhamad']
H[4]= 'maria'
print(H[4])

In [ ]:
H = (1,4,'haydar', [5,7],'mhamad')
print(H)

(1, 4, 'haydar', [5, 7], 'mhamad')

In [ ]:

def plus(*h):
  m=0
  for i in h:
    m+=i
  print(m)
plus(2,6,9,8,7,6,5,3,1,2,5)
plus(2,6,9,8,4,2,6,4)

In [ ]:
def pr(firstN,LastN)
    print('hello '+ firstN +""+ LastN)

In [ ]:
def br(ln,mn,fn='Merry '):
  print('hello and: '+ fn + mn +" "+ ln)

In [ ]:
br('haydar ','christmas 🎄🎄🎇✨ ')

hello and: Merry christmas 🎄🎄🎇✨  haydar

In [ ]:

luno=[10121673,10121674,10121675,10121676]
lduo=['haydar🧛‍♂️','ali🤶','alaa👦','kassem🧔']
ltrio=['mhamad','baba','eddine','danach']
lsquad=[['football⚽','drawing🖌'],['swimming🛶'],['reading📕'],['running🏃‍♂️']]
def customerInfo(luno,lduo,ltrio,lsquad):
  Customer={}
  for i in range(len(luno)):
    Customer[luno[i]]={
                        'fname':lduo[i],'lname':ltrio[i],'hobbies':lsquad[i]}
  return Customer
customerInfo(luno,lduo,ltrio,lsquad)

{10121673: {'fname': 'haydar🧛\u200d♂️',
  'lname': 'mhamad',
  'hobbies': ['football⚽', 'drawing🖌']},
 10121674: {'fname': 'ali🤶', 'lname': 'baba', 'hobbies': ['swimming🛶']},
 10121675: {'fname': 'alaa👦', 'lname': 'eddine', 'hobbies': ['reading📕']},
 10121676: {'fname': 'kassem🧔',
  'lname': 'danach',
  'hobbies': ['running🏃\u200d♂️']}}

In [ ]:
import random
random.randint(1,10)

In [ ]:
def factory(i):
  if  i == 0 or i == 1:
      return 1
  elif i < 0 :
      return "Factorial is undefined for negative numbers"
  else:
      factory = 1
      for i in range(2, i + 1):
          factory *= i
      return factory
number = int(input("please enter a number"))
result = factory(number)
print("The factorial of the number entered is:",result)

please enter a number1
The factorial of the number entered is: 1

In [ ]:
i=0
while i<=100:
  i+=1
  if i % 7 == 0:
    continue
  print(i)

1
2
3
4
5
6
8
9
10
11
12
13
15
16
17
18
19
20
22
23
24
25
26
27
29
30
31
32
33
34
36
37
38
39
40
41
43
44
45
46
47
48
50
51
52
53
54
55
57
58
59
60
61
62
64
65
66
67
68
69
71
72
73
74
75
76
78
79
80
81
82
83
85
86
87
88
89
90
92
93
94
95
96
97
99
100
101

In [ ]:
pr('john ','evans ')